body {
		background-color: purple;
	}
#Título {
	color: rgb(153,102,153); text-align: left;
    font-size: 50px;
    font-style: "lucida bright";
}
	
p.Información {
    color: black; 
    text-align: center;
    font-size: 30px;
    font-style: "lucida bright";
}

img.Imagen1{
    position: relative;
    float: right;
    width: 350px;
    margin: 10px 10px;
    padding: 10px;
}
