
body {
		background-color: #dbb3b1;
	}
#Título {
	color: purple; text-align: center;
    font-size: 50px;
    font-style: garamond;
}
	
p.Información {
    color: black; text-align: center;
    font-size: 30px;
    font-style: garamond;
}

img.Imagen1{
    position: relative;
    float: left;
    width: 350px;
    margin: 10px 10px;
    padding: 10px;
}
.video{
	width:350px;
	height:550px;	
	margin: -400px 50px;
	position: relative;
    padding: 5px;
    border: 1px solid black
}

