body {
		background-color: lightblue;
	}
#Título {
	color: blue; text-align: left;
    font-size: 50px;
    font-style: "Bodoni";
}
	
p.Información {
    color: black; 
    text-align: justify;
    font-size: 30px;
    font-style: "Bodoni";
}

img.Imagen1{
    position: relative;
    float: right;
    width: 350px;
    margin: 10px 10px;
    padding: 10px;
}
