body {
		background-color: teal;
	}
#Título {
	color: white; text-align: left;
    font-size: 50px;
    font-style: "times new roman";
}
	
p.Información {
    color: black; 
    text-align: center;
    font-size: 30px;
    font-style: "times new roman";
}

img.Imagen1{
    position: relative;
    float: center;
    width: 350px;
    margin: 10px 10px;
    padding: 10px;
}
